<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AdminLTE</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag "admin_bits", media: 'all' %>
    <%= javascript_include_tag "admin_bits" %>
  </head>
  <body class="skin-blue">
    <header class="header">
      <a href="../../index.html" class="logo">
        AdminBits
      </a>
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="navbar-left resources-nav">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Products</a>
            </li>
            <li class="active">
              <a href="#" class="active">Items</a>
            </li>
            <li>
              <a href="#">Users</a>
            </li>
          </ul>
        </div>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" class="not-active">
                <i class="glyphicon glyphicon-user"></i>
                majko7@interia.pl
              </a>
            </li>
            <li>
              <a href="#">logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
      <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
          <section class="title">
            <h3> Filters </h3>
            <div id="filtering">
              <%= admin_form :method => :get do %>
                <div class="form-group">
                  <h5>Name: </h5>
                  <%= admin_text_filter :having_name %>
                </div>
                <div class="form-group">
                  <h5>Price: </h5>
                  <label>from: </label> <%= text_field_tag("filters[price_between][from]", admin_filter(:price_between, :from)) %>
                  <label>to: </label> <%= text_field_tag("filters[price_between][to]", admin_filter(:price_between, :to)) %>
                </div>
                <button class="btn btn-primary">Filter!</button>

              <% end %>
            </div>
          </section>
        </section>
      </aside>

      <!-- Right side column. Contains the navbar and content of the page -->
      <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <a href="#" class="btn btn-primary pull-right">New Item</a>
            <h1>
                <%= current_resource %>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"><%= current_resource %></h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                  <%= yield %>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

            </div>
          </div>

        </section><!-- /.content -->
      </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
  </body>
</html>
